<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gallery</title>
</head>

<body>
 
    <nav>
        <ul class="ulElement">
            <li><a href="/home">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h1>My wonderful gallery</h1>

    <div class="gallery-container">
       <img src="/images/mike3.jpeg" alt="mike hero">
       <img src="/images/mike5.jpeg" alt="mike hero ">
    </div>

</body>
</html>
