<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>

    <nav>
        <ul class="ulElement">
            <li><a href="/home">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="gif-container">
        <div class="tenor-gif-embed" data-postid="8693249158316298181" data-share-method="host" data-aspect-ratio="0.564257" data-width="100%"><a href="https://tenor.com/view/mike-o-hearn-gif-8693249158316298181">Mike O Hearn GIF</a>from <a href="https://tenor.com/search/mike+o+hearn-gifs">Mike O Hearn GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</body>
</html>
