<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Works</title>
</head>

<body>
    <nav>
        <ul class="ulElement">
            <li><a href="/home">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    
    <h1>WHAT I DO?</h1>
    <h2>I BASICALLY INSPIRE PEOPLE</h2>
    <h3>I’m about life. I know too many people who died too young that were a positive influence on people.</h3>
    <h3>You may not find me attractive — I’m a 300-pound guy. But I’m healthy. The joints, body, [and] heart are healthy.</h3>
    <h3>I just don’t want somebody else to go, ‘I’m 350 pounds and I look great,’ — okay, but are you healthy?</h3>
    <h3>The heart is…powerful. If you treat it right, it doesn’t take alot to keep it healthy — eat healthy meals…[be] active a couple times a week…it’s an amazing thing.</h3>
    <h3>Cardio for fat loss — use it as an additional tool.</h3>
    <h3>Whatever diet you like, if you’re consistent over a long period of time, we can get you in shape.</h3>
    
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/w9ZgcYZkbyo" frameborder="0" allowfullscreen></iframe>
    </div>
    
</body>
</html>
